# Environment
env
.env
*lib

# Cache files
*.pyc
*.exe
*.log
*.bin
.pytest_cache
__pycache__/

# Ruff
-unsafe-fixes
.ruff_cache
.coverage

# Database
*.db
*.sql
*.csv
node_modules/
credentials.json

#webshop
app/webshop_agent/**/*.json

backend/edit_supabase.py

