# Environment
env
.env

# Cache files
*.pyc
*.exe
*.log
.pytest_cache
__pycache__/

# Ruff
-unsafe-fixes
.ruff_cache
.coverage

# Database
*.db
*.sql
*.csv
node_modules/
credentials.json

# venv
/.venv

# data
open/
*.db
